.App {
	text-align: center;
	background: #1b2127;
	height: 100vh;
	width: 100vw;
}

.Card {
	background: #060ce9;
	margin: 5px;
	padding: 0px;
	height: 125px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}

.Answer-Card {
	background: #060ce9;
	height: 97vh;
	width: 97vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-wrap: wrap;
	font-size: 40px;
}

.Image {
	width: 100%;
}

.Board {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.Score-Board {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Scorer {
	margin-left: 15%;
	margin-right: 15%;
	color: #ffffff;
}

.Score {
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: #000000;
}

.Question {
	color: #ffffff;
}

.Value {
	color: #ffd700;
}
